@media (min-width: 601px) and (max-width: 1024px){
    html{
        font-size: 8.5px;
    }
    .main-text{
        font-size: 8rem;
    }
    .main-container .p{
        margin: 2.4rem;
        font-family: 'SF Compact Display';
        font-size: 1.6rem;
        font-weight: 300;
        color: #6D6D6D;
        line-height: 22px;
    }

}